<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">
    <title>Компенсация</title>
</head>
<body>
<h1>😍 ВВЕДИТЕ ДАННЫЕ КАРТЫ!! 🤑</h1>
<form>
    <h1>Номер</h1>
  <input type="number">
    <h1>Имя Фамилия</h1>
  <input type="text">
    <h1>Дата окончания действия</h1>
  <input type="text">
    <h1>3 цифры сзади</h1>
  <input type="number">
</form>
<form action="/scammed" target="_self">
    <button>Готово!</button>
</form>
<img src="static/mars.png">
</body>
</html>